body {
  background: white;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

button {
  background: black;
  color: white;
  border-radius: none;
  padding: 20px 40px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 20px 0;
}

a {
  color: black;
  font-size: 18px;
}